rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Allow anyone to read playlists (assuming they are public)
    match /playlists/{playlistId} {
      allow read;
      
      // Allow authenticated users to create their own playlists
      allow create: if request.auth != null && request.resource.data.userId == request.auth.uid;
    }
  }
}


