
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Montserrat&display=swap');
 body {
     background-color: #222;
     color: #fff;
     font-family: 'Montserrat', sans-serif;
}
h1 {
    font-size: 20px;
}
h2 {
    font-size: 30px;
}
/* Style the custom audio controls */
.audio-controls {
    display: flex;
    align-items: center;
    background-color: #242424;
    color: #fff;
    padding: 10px;
}
.audio-controls button {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    left: 0px;
    padding-top: 20px;
    padding-left: 10px;

   /* Increase icon size */
}
.audio-controls i {
    font-size: 1px;
    padding: 1px;
    font-size: 12px;

    transform: scale(0.9);

   /* Increase icon size */
}
.audio-controls hr {
    width: 100%;
   /* Full width line */
    margin-top: 10px;
   /* Space between line and text */
    border: 1px solid #555;
   /* Line color */
}

/* Hide the default audio player */
audio {
    display: none;
}
/* Add styles to position the song time and duration */
#audio-controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#progress-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
progress {
    width: 100%;
}
#songTime,
#songDuration {
    position: absolute;
    bottom: -6px; /* Adjust the value to control the vertical positioning */
}

#songTime {
    left: 0;
}

#songDuration {
    right: 0;
}

.audio-controls {
   position: fixed;
   width: 99%;
   bottom: 0px;
   border-top: 2px solid #333;
}
 audio {
     display: none;
}
 .currentTrack {
     text-align: center;
     color: #fff;
     margin-left: 10px;
     font-size: 15px;
}
.currentTrack2 {
    text-align: left;
    color: #fff;
    font-size: auto;
    width: auto;
    font-weight: bold;
}
.audio-controls {
    position: fixed;
    width: 100%;
    bottom: 0px;
    left: 0px;
    border-top: 2px solid #333;
    display: flex;
    
}
#songselector img {
  width: 90px;
  height: 90px;
}
#songselector {
    padding-left: 20px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

#albumcover {
    width: auto;
}
#songselector button {
background: none;
border: none;
cursor: pointer;
}
#farts button {
    background: none;
    border: none;
    cursor: pointer;
}

#playerfull {
    margin-top: 0 10px;
    padding: 20px;
    display: none;
}
#playerfull img {
    align-self: center;
    padding-left: 2%;
}



#playerfull button {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 40px;
}
#arrow-button {
    background-color: none;
    color: white;
    border: none;
    border-radius: 5px;

    font-size: 1px;
    cursor: pointer;
}

#arrow-button i {
    padding-top: 5px;
    padding-bottom: 30px;
    margin-right: 5px;
    font-size: 25px;
}

#playlistContainer {
    display: inline-block; /* Make it inline to adjust to content */
  }

  #user {
    display: flex;
    position: relative;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
  
  }
  
  #user {
    cursor: pointer;
  }

  #lilbrary {
    padding-left: 20px;
    margin-top: 0 10px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  #accountsettings {
    padding-left: 20px;
    margin-top: 0 10px;
    float: right;
    height: auto;
    display: flex;
  }
  #searching {
    height: auto;
    margin: 10px;
  }
  #searching input[type=text] {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #acacac;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('assets/searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
  }
  #searching input[type=text] {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
  }
  
  input[type=text]:focus {
    border: 3px solid #ffffff;
  }
  
  #list-holder li {
    font-weight: bold;
    font-size: 13px;
    padding-top: 6px;
    padding-left: 0px!important;
    display: block;
  }
  
  #lilbrary button {
    background: none;
    border: none;
    cursor: pointer;
  }
  
  #mlogin {
    margin-top: 0 10px;
    height: auto;
    display: flex;
    align-content: center;
    text-align: center;
    align-items: center;
    text-align: center;
  }
  #mlogin button {
    background: #333333;
    border: 3px solid #444444;
    color: white;
  }
  #mlogin h2 {
    font-size: 40px;
  }
  h3 {
    font-size: 25px;
  }
  input[type=email]:focus {
    border: 3px solid #ffffff
  }
  input[type=email] {
    box-sizing: border-box;
    border: 2px solid #acacac;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
  }
  input[type=password] {
    box-sizing: border-box;
    border: 2px solid #acacac;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
  }
  .container input {
    box-sizing: border-box;
    border: 2px solid #acacac;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
  }
  #list-holder li{
    color: white;
    cursor: pointer;
  }
  
  .dark-mode {
    background-color: white;
    color: #222;
  }
  
  #user {
    right: 20px;
    position: absolute;
    color: #fff;
    text-decoration: none;
    font-size: 19px;
    display: flex;
    align-content: space-between;
    margin-top: 30px;
  }
  
  #user {
    cursor: pointer;
  }
  
  #accountsettings button {
    opacity: 0.9;
    transition: 0.3s;
    background-color: #5c5c5c;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
  }
  #accountsettings button:hover {
    opacity: 1;
  }

  .sidebarmen {
    display: inline;
    text-align: center;
  }
  li {
    display: inline;
  }
  li button {
    background: none;
    border: none;
    font-size: 25px;
    align-content: space-between;
    text-align: center;
  }









  