@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Montserrat&display=swap');
 body {
     background-color: #222;
     color: #fff;
     font-family: 'Montserrat', sans-serif;
}
h1 {
    font-size: 20px;
}
h2 {
    font-size: 30px;
}
 .audio-controls {
     display: flex;
     align-items: center;
     background-color: #242424;
     color: #fff;
     padding: 5px;
     font-size: 10px;
}
 .audio-controls button {
     background: none;
     border: none;
     color: #fff;
     cursor: pointer;
     font-size: 20px;
     width: 50%;
}
 .audio-controls progress {
     width: 100%;
}
 audio {
     display: none;
}
 #currentTrack {
     text-align: center;
     color: #fff;
     margin-left: 10px;
     font-size: 5px;
}
 #audio-controls {
     display: flex;
     align-items: center;
}
 #progress {
     flex-grow: 1;
     margin: 0 10px;
}
 #songTime, #songDuration {
     white-space: nowrap;
     margin: 0 10px;
}
.audio-controls {
    position: fixed;
    width: 99%;
    bottom: 0px;
    border-top: 2px solid #333;
}
#songselector img {
  width: 80px;
  height: 80px;
}
#songselector {
  left: 20px;
  padding-left: 100px;
  margin-top: 0 10px;
  float: right;
  width: 95%;
  height: auto;
}
#songselector button {
background: none;
border: none;
cursor: pointer;
}