@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Montserrat&display=swap');
 body {
     background-color: #222;
     color: #fff;
     font-family: 'Montserrat', sans-serif;
}
h1 {
    font-size: 20px;
}
h2 {
    font-size: 30px;
}
/* Style the custom audio controls */
.audio-controls {
    display: flex;
    align-items: center;
    background-color: #242424;
    color: #fff;
    padding: 10px;
}
.audio-controls button {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 24px;
   /* Increase icon size */
}
.audio-controls hr {
    width: 100%;
   /* Full width line */
    margin-top: 10px;
   /* Space between line and text */
    border: 1px solid #555;
   /* Line color */
}

/* Hide the default audio player */
audio {
    display: none;
}
/* Add styles to position the song time and duration */
#audio-controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#progress-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
progress {
    width: 100%;
}
#songTime,
#songDuration {
    position: absolute;
    bottom: -6px; /* Adjust the value to control the vertical positioning */
}

#songTime {
    left: 0;
}

#songDuration {
    right: 0;
}

.audio-controls {
   position: fixed;
   width: 99%;
   bottom: 0px;
   border-top: 2px solid #333;
}
 audio {
     display: none;
}
 .currentTrack {
     text-align: center;
     color: #fff;
     margin-left: 10px;
     font-size: 10px;
     width: auto;
     max-width: 50%;
}
.currentTrack2 {
    text-align: left;
    color: #fff;
    font-size: auto;
    width: auto;
    font-weight: bold;
}
.audio-controls {
    position: fixed;
    width: 99%;
    bottom: 0px;
    border-top: 2px solid #333;
    display: none;
}
#songselector img {
  width: 80px;
  height: 80px;
}
#songselector {
  left: 20px;
  padding-left: 100px;
  margin-top: 0 10px;
  float: right;
  width: 95%;
  height: auto;
  display: none;
}
#albumcover {
    width: auto;
}
#songselector button {
background: none;
border: none;
cursor: pointer;
}

#playerfull {
    margin-top: 0 10px;
    padding: 20px;
    display: block;
}
#playerfull img {
    align-self: center;
    padding-left: 2%;
}



#playerfull button {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 40px;
}