@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Montserrat&display=swap');
@font-face {
  font-family: SFPRO;
  src: url("assets/fonts/SF-Pro-Rounded-Regular.otf") format("opentype");
}
@font-face {
  font-family: SFPROS;
  src: url("assets/fonts/SF-Pro-Text-Medium.otf") format("opentype");
}
body {
     background-color: #222;
     color: #fff;
     font-family: SFPRO;
     margin: 0;
     padding: 0;
}
h1 {
    font-size: 30px;
}
h2 {
    font-size: 40px;
}

.reqformgg {
    text-align: right;
    padding: 20px;
    font-size: 15px;
}
 a {
     text-decoration: none;
     color: #ccc;
     margin: 10px;
     padding-left: 20px;
}
/* Style the custom audio controls */
 .audio-controls {
     display: flex;
     align-items: center;
     background-color: #242424;
     color: #fff;
     padding: 10px;
}
 .audio-controls button {
     background: none;
     border: none;
     color: #fff;
     cursor: pointer;
     font-size: 24px;
    /* Increase icon size */
}
 .audio-controls hr {
     width: 100%;
    /* Full width line */
     margin-top: 10px;
    /* Space between line and text */
     border: 1px solid #555;
    /* Line color */
}
 .audio-controls progress {
     width: 80%;
    /* 25% smaller progress bar */
}
/* Hide the default audio player */
 audio {
     display: none;
}
 .currentTrack {
     text-align: center;
     color: #fff;
     margin-left: 10px;
     font-size: 15px;
}
/* Add styles to position the song time and duration */
 #audio-controls {
     display: flex;
     align-items: center;
     justify-content: space-between;
}
 #progress {
     flex-grow: 1;
     margin: 0 10px;
    /* Adjust the margin as needed */
}
 #songTime, #songDuration {
     white-space: nowrap;
     margin: 0 10px;
    /* Adjust the margin as needed */
}
.audio-controls {
    position: fixed;
    width: 99%;
    bottom: 0px;
    border-top: 2px solid #333;
}
.topnav {
  width: 100%;
  top: 0px;
  text-align: left;
  padding: 20px;
  font-size: 15px;
  border-bottom:2px solid #333;
}

.playerm {
  position: fixed;
  width: 100%;
  bottom: 0px;
  border-top:1px solid #333;
}
ul {
  list-style-type: none;
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;
  height: auto;
  background-color: #222;
  border-right: 5px;
  border-color: #333;
  
}
li i {
  display: flex;
  color: #fff;
  text-decoration: none;
  font-size: 35px;
  padding-bottom: 60px;
}
li button {
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
}
li {
  display: flex;
  color: #fff;
  text-decoration: none;
}
/* Change the link color on hover */
  
.sidebarmen img {
  padding-top: 20px;
  padding-left: 5px;
}
.sidebarmen {
  float: left;
  height: 89%;
  position: fixed;
  width: auto;
  left: 2px;
  border-right: 2px solid #333;
  border-radius: 20px;
}


#songselector img {
  width: 120px;
  height: 120px;
}
#playlistContainer img {
  width: 120px;
  height: 120px;
}
#playlistContainer {
  display: inline-block; /* Make it inline to adjust to content */
}
#songselector {
  left: 20px;
  padding-left: 20px;
  margin-top: 0 10px;
  float: right;
  width: 90%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
#songselector button {
background: none;
border: none;
cursor: pointer;
}

#songselector h2 {
  width: auto;
  height: auto;
}

#lilbrary {
  left: 20px;
  padding-left: 20px;
  margin-top: 0 10px;
  float: right;
  width: 90%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
#accountsettings {
  left: 20px;
  padding-left: 20px;
  margin-top: 0 10px;
  float: right;
  width: 90%;
  height: auto;
  display: flex;
}
#searching {
  left: 20px;
  padding-left: 20px;
  margin-top: 0 10px;
  float: right;
  width: 90%;
  height: auto;
}
#searching input[type=text] {
  width: 50%;
  box-sizing: border-box;
  border: 2px solid #acacac;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('assets/searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
}
#searching input[type=text] {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

input[type=text]:focus {
  border: 3px solid #ffffff;
}

#list-holder li {
  font-weight: bold;
  font-size: 15px;
  padding-bottom: 5px;
  padding-top: 5px;
}

#lilbrary button {
  background: none;
  border: none;
  cursor: pointer;
}

#mlogin {
  left: 20px;
  padding-left: 20px;
  margin-top: 0 10px;
  float: right;
  width: 90%;
  height: auto;
  display: flex;
  align-content: center;
  text-align: center;
  align-items: center;
}
.playlist-item {
  left: 20px;
  padding-left: 20px;
  margin-top: 0 10px;
  float: right;
  width: 90%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
#mlogin button {
  box-sizing: border-box;
  border: 2px solid #131313;
  border-radius: 4px;
  font-size: 16px;
  background-color: #1e1e1e;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 20px;
  color: #fff;
}
#mlogin h2 {
  font-size: 40px;
}
h3 {
  font-size: 25px;
}
input[type=email]:focus {
  border: 3px solid #ffffff
}
input[type=email] {
  box-sizing: border-box;
  border: 2px solid #acacac;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
}
input[type=password] {
  box-sizing: border-box;
  border: 2px solid #acacac;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
}
.container input {
  box-sizing: border-box;
  border: 2px solid #acacac;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
}
#list-holder li{
  color: white;
  cursor: pointer;
}

.dark-mode {
  background-color: white;
  color: #222;
}

#user {
  right: 100px;
  position: absolute;
  color: #fff;
  text-decoration: none;
  font-size: 30px;
  margin-bottom: 33.2px;
  margin-top: 33.2px;

}

#user {
  cursor: pointer;
}

#accountsettings button {
  opacity: 0.9;
  transition: 0.3s;
  background-color: #5c5c5c;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
}
#accountsettings button:hover {
  opacity: 1;
}
.playlist-item img{
  width: 120px;
  height: 120px;
}
.playlist-item button {
  max-width: 50px;
  border: none;
  background: #5c5c5c;
}
#deletebutton {
  background: red;
  font-weight: bolder;
  color: white;
}
#exitbutton {
  font-weight: bolder;
  color: white;
}
#playlist-item button {
  display: inline;
}
/* Color of the progress bar */
#progress::-webkit-progress-value {
  background-color: lightblue; /* You can change this color to the one you prefer */
}
#footer a {
  font-weight: bolder;
}
.grecaptcha-badge { visibility: hidden; }